<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swyp3.babpool.domain.appointment.dao.AppointmentRepository">

    <resultMap id="appointmentSendResponse" type="com.swyp3.babpool.domain.appointment.application.response.AppointmentSendResponse">
        <id property="appointmentId" column="appointment_id"/>
        <result property="profileId" column="profile_id"/>
        <result property="userNickName" column="user_nick_name"/>
        <result property="profileImageUrl" column="profile_image_url"/>
        <result property="appointmentStatus" column="appointment_status"/>
        <result property="appointmentCreateDate" column="appointment_create_date"/>
        <result property="appointmentFixDateTime" column="appointment_fix_date_time"/>
    </resultMap>

    <resultMap id="appointmentReceiveResponse" type="com.swyp3.babpool.domain.appointment.application.response.AppointmentReceiveResponse">
        <id property="appointmentId" column="appointment_id"/>
        <result property="profileId" column="profile_id"/>
        <result property="userNickName" column="user_nick_name"/>
        <result property="profileImageUrl" column="profile_image_url"/>
        <result property="appointmentStatus" column="appointment_status"/>
        <result property="appointmentCreateDate" column="appointment_create_date"/>
        <result property="appointmentFixDateTime" column="appointment_fix_date_time"/>
    </resultMap>

    <select id="findAppointmentListByRequesterId" resultMap="appointmentSendResponse" parameterType="long">
        SELECT
            appoint.appointment_id,
            profile.profile_id,
            account.user_nick_name,
            profile.profile_image_url,
            appoint.appointment_status,
            appoint.appointment_create_date,
            IF(appoint.appointment_status = 'ACCEPT',
               DATE_FORMAT(CONCAT(pdate.possible_date, ' ', ptime.possible_time_start), '%Y-%m-%d %H:%i:%s'),
               NULL
            ) AS appointment_fix_date_time
        FROM t_appointment appoint
            INNER JOIN t_profile profile ON appoint.appointment_receiver_id = profile.user_id
            INNER JOIN t_user_account account ON appoint.appointment_receiver_id = account.user_id
            LEFT JOIN t_possible_time ptime ON ptime.possible_time_id = appoint.possible_time_id
            LEFT JOIN t_possible_date pdate ON pdate.possible_date_id = ptime.possible_date_id
        WHERE
            appoint.appointment_requester_id =1; #{requesterUserId}
    </select>

    <select id="findAppointmentListByReceiverId" resultMap="appointmentReceiveResponse" parameterType="long">
        SELECT
            appoint.appointment_id,
            profile.profile_id,
            account.user_nick_name,
            profile.profile_image_url,
            appoint.appointment_status,
            appoint.appointment_create_date,
            IF(appoint.appointment_status = 'ACCEPT',
               DATE_FORMAT(CONCAT(pdate.possible_date, ' ', ptime.possible_time_start), '%Y-%m-%d %H:%i:%s'),
               NULL
            ) AS appointment_fix_date_time
        FROM t_appointment appoint
            INNER JOIN t_profile profile ON appoint.appointment_requester_id = profile.user_id
            INNER JOIN t_user_account account ON appoint.appointment_requester_id = account.user_id
            LEFT JOIN t_possible_time ptime ON ptime.possible_time_id = appoint.possible_time_id
            LEFT JOIN t_possible_date pdate ON pdate.possible_date_id = ptime.possible_date_id
        WHERE
            appoint.appointment_receiver_id = #{receiverUserId}
    </select>

    <select id="findUserIdByProfileId" resultType="long" parameterType="long">
        SELECT
            user_id
        FROM t_profile
        WHERE
            profile_id = #{profileId}
    </select>

    <select id="countAcceptedAppointmentByReceiverIdAndPossibleTimeId" resultType="int" parameterType="map">
        SELECT
            COUNT(*) AS count
        FROM t_appointment
        <where>
            appointment_receiver_id = #{targetReceiverUserId}
          AND appointment_status = 'ACCEPT'
            <if test="possibleTimeIdList != null and !possibleTimeIdList.isEmpty()">
                <foreach collection="possibleTimeIdList" item="possibleTimeId" open="AND possible_time_id IN (" close=")" separator=",">
                    #{possibleTimeId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="findByAppointmentId" resultType="com.swyp3.babpool.domain.appointment.domain.Appointment" parameterType="long">
        SELECT
            appointment_id,
            appointment_requester_id,
            appointment_receiver_id,
            appointment_status,
            appointment_create_date,
            appointment_modify_date
        FROM t_appointment
        WHERE
            appointment_id = #{appointmentId}
    </select>

    <insert id="saveAppointmentInit" parameterType="com.swyp3.babpool.domain.appointment.api.request.AppointmentCreateRequest"
            useGeneratedKeys="true" keyProperty="appointmentId">
        INSERT INTO t_appointment
        (
            appointment_requester_id,
            appointment_receiver_id,
            appointment_status,
            appointment_create_date,
            appointment_modify_date
        )
        VALUES
        (
            #{requesterUserId},
            #{receiverUserId},
            'WAITING',
            CURRENT_TIMESTAMP(), CURRENT_TIMESTAMP()
        );
        INSERT INTO t_appointment_request
        (
         appointment_id,
         appointment_question
        )
        VALUES (
         #{appointmentId},
         #{appointmentQuestion}
        );
        <foreach collection="possibleTimeIdList" item="possibleTimeId" open="" close="" separator="">
            INSERT INTO t_appointment_request_time
            (
                appointment_requester_id,
                possible_time_id
            )
            VALUES
            (
                #{requesterUserId},
                #{possibleTimeId}
            );
        </foreach>
    </insert>

</mapper>