<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swyp3.babpool.infra.auth.dao.AuthRepository">

    <select id="findByUserId" parameterType="long" resultType="com.swyp3.babpool.infra.auth.domain.Auth">
        select * from t_oauth where user_id = #{userId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="oauthId">
        insert into t_oauth(oauth_id, user_id,oauth_platform_name,oauth_platform_id)
        values (#{oauth_id}, #{userId},#{oauthPlatformName},#{oauthPlatformId} )
    </insert>

    <update id="updateOauthPlatformId" parameterType="long">
        update t_oauth set oauth_platform_id = '-1' where user_id = #{userId}
    </update>

</mapper>