<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swyp3.babpool.domain.user.dao.UserRepository">

    <insert id="save" useGeneratedKeys="true" keyProperty="userId">
        insert into t_user_account(user_email,user_status,user_role,user_grade,user_nick_name,user_create_date,user_modify_date)
        values ( #{userEmail},#{userStatus},#{userRole},#{userGrade},#{userNickName},#{userCreateDate},#{userModifyDate} )
    </insert>

    <select id="findById" resultType="com.swyp3.babpool.domain.user.domain.User">
        select user_id,user_email,user_status,user_role,user_grade,user_nick_name,user_create_date,user_modify_date
        from t_user_account
        where user_id = #{userId}
    </select>

    <select id="findUserIdByPlatformAndPlatformId" resultType="Long">
        select u.user_id
        from t_user_account u
        join t_oauth o on u.user_id = o.user_id
        where o.oauth_platform_name = #{platformName} and o.oauth_platform_id = #{platformId}
    </select>

    <update id="updateSignUpInfo">
        update t_user_account
        set user_grade = #{userGrade},
            user_modify_date = CURRENT_TIMESTAMP()
        where user_id = #{userId}
    </update>

    <insert id="saveKeyword">
        insert into t_m_user_keyword(user_id,keyword_id)
        values ( #{userId},#{keywordId})
    </insert>

    <select id="findMyProfile" resultType="com.swyp3.babpool.domain.user.application.response.MyPageUserDaoDto">
        SELECT
            p.profile_id AS profileId,
            u.user_nick_name AS name,
            p.profile_image_url AS profileImg,
            u.user_grade AS grade,
            p.profile_intro AS intro,
            GROUP_CONCAT(k.keyword_name) AS keywords
        FROM
            t_user_account u
                INNER JOIN t_profile p ON u.user_id = p.user_id
                LEFT JOIN t_m_user_keyword muk ON u.user_id = muk.user_id
                LEFT JOIN t_keyword k ON muk.keyword_id = k.keyword_id
        WHERE
            u.user_id = #{userId}
        GROUP BY
            u.user_id
    </select>

    <select id="findUserGradeById">
        SELECT user_grade AS userGrade
        FROM t_user_account
        WHERE user_id=#{userId}
    </select>

</mapper>